@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
  format("woff2"),
  url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
  url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  }
  
  .main {
  --primary-color: #d1d1e9;
  --width: 600px;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  background-color: #0d0d0d;
  color: #d1d1e9;
  }
  
  .main,
  .main textarea,
  .main ::-webkit-inner-spin-button {
  font-size: 16px;
  line-height: 24px;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  
  .main .icon {
  width: 34px;
  }
  .main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin: 16px 0;
  }
  .main form {
  display: flex;
  flex-direction: column;
  max-width: var(--width);
  width: 100%;
  }
  .main textarea[type="text"],
  .main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #d1d1e9;
  background-color: #1c1c1c;
  color: #d1d1e9;
  }
  .main ::placeholder {
  color: #8e8ea0;
  opacity: 0.6;
  }
  .main input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    background-color: #2c2d3c;
    border: 1px solid #2c2d3c;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  
  .main input[type="submit"]:hover,
  .main input[type="submit"]:focus {
    background-color: #3d3e4f;
    border-color: #3d3e4f;
    outline: none;
  }
  .main input[type="password"] {
    padding: 12px 16px;
    border: 1px solid #8e8ea0;
    border-radius: 4px;
    margin-bottom: 24px;
    outline-color: var(--primary-color);
    background-color: #121212;
    color: #fff;
  }
  
  
  
  .main .resultContainer {
  width: var(--width);
  transition: all 0.3s ease;
  background-color: #1c1c1c;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  padding: 12px 16px;
  }
  
  .main .typewriter {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 40px;
  background-color: #1c1c1c;
  color: #d1d1e9;
  }
  
  .main progress {
  margin-top: 40px;
  width: 100%;
  color: #d1d1e9;
  }
  
  .github {
  margin-bottom: 16px;
  }
  
  .size {
  font-size: 12px;
  line-height: 16px;
  color: #8e8ea0;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  }
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width);
  font-size: 12px;
  color: #8e8ea0;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}


.partLabel {
  font-size: 12px;
  line-height: 16px;
  color: #8e8ea0;
  margin-bottom: 8px;
}